h1 {
    margin-bottom: 30px;
}
h2 {
    color:red;
    display:none;
}

#shopping_cart{
    width: 80%;
    align-content: center;
    margin: auto;
    padding: 50px 100px 30px 100px;
    background-color: cornflowerblue;
    color: black;
    border-radius: 20px;
}

.movie_item{
    background-color: lightgray;
    padding: 22px 0px 22px 0px;
    margin-top: 25px;
}

.remove_btn{
    font-size: 24px;
    background: transparent;
    border: none;
    float: right;
    margin: 0;
    transform: translate(-50%, -15%);
}

.toPayment{
    margin-top: 40px;
    font-weight: bold;
}

.movie_name{
    display: inline-block;
    float: left;
    margin-left: 30px;
    margin-top: 3px;
}

.nav-link{
    padding: .5rem .5rem;
}

.cart_bar{
    color: black;
    display: inline;
}

.movie_item input{
    margin-right: 135px;
}

.movie_price{
    display: inline;
    position: relative;
    left: 200px;
}

.movie_quantity{
    position: absolute;
    left: 45%;
}

.updateBtn{
    margin-top: 25px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}